.contactDiv{
    background-color:var(--dark);
    color: var(--light);
    grid: "contact";
    grid-row:4/5;
    grid-column:1/5;

}

.githubIcon {
    cursor: pointer;
    text-decoration: none;
    padding-top: 40px;
    background-color: var(--light);

   
}

.githubIcon:hover
{
  background-color: rgb(195, 164, 71);
  
  transform: scale(1.1);
}
.githubIcon>object>svg .githubIcon>object{
    cursor:pointer;
}


.mailIcon{
    width:1.2em;
}