.contactDiv{
    background-color:var(--dark);
    color: var(--light);
    grid: "contact";
    grid-row:4/5;
    grid-column:1/5;

}

.Icon {
    cursor: pointer;
    text-decoration: none;
    padding-top: 40px;
    background-color: var(--light);

    margin:1em;
    align-self: center;
   
}

.Icon:hover
{
  background-color: rgb(195, 164, 71);
  
  transform: scale(1.1);
}
.Icon>object{
    pointer-events: none;
}


.mailIcon{
    width:1.2em;
}