

.background{
    background-color: var(--accent);
}
.title{
    padding:3.5%;
    font-family: 'Staatliches', cursive;
    color: rgb(211, 223, 107);
    text-shadow: -4px 2px 0.1em rgb(0, 0, 0);
    animation: 0.3s ease-in-out spaceLetters; 
    letter-spacing: 9px;
}

@media (max-width:540px) {
    .title{
        text-align: center;
        margin: auto;
    }
}
@media (min-width: 250px){
    .title{
    font-size: calc(2rem + 1.1vw);
    padding: 1.8%;
    }
}

header{
    grid:"header";
    grid-row: 1;
    grid-column:1/5 ;
    
}

@keyframes spaceLetters{
    0%{
        opacity:0;
        letter-spacing:1px;
    }
    100%{
        letter-spacing:9px;
        opacity:1;
    }
}